h2{
    text-align: center;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:900;
    padding-top: 15px;
    margin: 5%;
}
.users{
    display: flex;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin: 0 auto;
}
img{
    width: 30%;
    margin: 5%;
    float:left;
}
li{
    font-size: 20px;
}